@font-face {
	font-family: 'Partner Condensed';
	src: url('../font/partnercondensed-webfont.eot');
	src: url('../font/partnercondensed-webfont.eot?#iefix') format('embedded-opentype'),
		url('../font/partnercondensed-webfont.woff2') format('woff2'),
		url('../font/partnercondensed-webfont.woff') format('woff'),
		url('../font/partnercondensed-webfont.ttf') format('truetype'),
		url('../font/partnercondensed-webfont.svg#partnercondensedregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Tahoma', Arial;
	font-size: 12px;
	color: #737373;	
}
a {
	color: #298bcc;
	text-decoration: underline;
	outline: 0;
}
a:hover {
	text-decoration: none;
}
p span,
p {
	font-family: 'Tahoma', Arial !important;
	font-size: 12px !important;
	color: #737373;		
}
p span.list {
	margin-left: 10px;
	background: url(../img/bullet.png) 0px 6px no-repeat;
	padding-left: 10px;
}
span.h3,
p.h3,
span.h2,
p.h2 {
	color: #595959;
	font-size: 16px !important;
}
h1,h2,h3,h4 {
    font-family: 'Partner Condensed', Arial !important;
    color: #298bcc;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-size: 18px;
}

ul {
	margin-bottom: 15px;
}
ul li {
    margin-left: 10px;
    background: url(../img/bullet.png) 0px 6px no-repeat;
    padding-left: 15px;
    list-style: none;    
}