
/*
@font-face {
    font-family: ubuntu-c;
    src: url(ubuntu-c.ttf) format('truetype'),
    url('ubuntu-c.eot#') format('embedded-opentype'),
    url('ubuntu-c.woff') format('woff') ;
    font-style: normal;
    font-weight: normal;
  }
   */
  
@font-face {
    font-family: 'ubuntu_condensedregular';
    src: url('ubuntu-c.eot');
    src: url('ubuntu-c.eot?#iefix') format('embedded-opentype'),
         url('ubuntu-c.woff') format('woff'),
         url('ubuntu-c.ttf') format('truetype'),
         url('font/ubuntu-c-webfont.svg#ubuntu_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
p   {
    font: 12px Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #59646d;
}

h1, p.h1, span.h1 {
    /*font-family: 'ubuntu_condensedregular';
    color: #3a7eab;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 26px;
    font-weight: normal;
    line-height: 29px;*/
    
    font-family: 'ubuntu_condensedregular';
color: #3A7EAB;
text-transform: uppercase;
font-size: 30px;
margin-top: 28px;
font-weight: normal;
line-height: 29px;
}
.page-productslist h1 {
    margin-bottom: 25px;
}
.page-taxonomy h1 {
    margin-bottom: 25px;
}
h2, p.h2, span.h2 {
    color: #3a7eab;
    text-transform: uppercase;
    font-size: 19px;
    font-family: 'ubuntu_condensedregular';
    font-weight: normal;
    /*font-family: ubuntu-c;
    font-weight: normal;
    line-height: 22px; */
}
h3, p.h3, span.h3  {
    color: #707c84;
    margin: 11px 0 0px 0;
    font-family: 'ubuntu_condensedregular';
    font-weight: normal;
    font-size: 15px;
   /* font: 13px Arial, Helvetica, sans-serif;
    text-transform: none;
    font-weight: bold; */
}
h4, p.h4, span.h4 {
    color: black;
    font-size: 15px;
    font-family: 'ubuntu_condensedregular';
    font-weight: normal;
    line-height: 18px;
}
h5, p.h5, span.h5 {
  color: #699DC2;
  padding-bottom: 5px;
  margin-top: 9px;
  font-weight: 100;
}
p.list, span.list {
  font: 13px Arial, Helvetica, sans-serif;
  background: url(../images/list.png) 0px 4px no-repeat;
  padding-left: 10px;
  list-style: none;
}
h6, p.h6, span.h6 {
  color: #699DC2;
  border-bottom: 1px dashed #ADADAD;
  padding-bottom: 5px;
  margin-top: 9px;
  font-weight: 100;
}
div {
    display: block;
}
.page-node p {

}
.page-node.node-type-webform .webform-client-form {
    position: relative;
left: 13px;
}
.calc-title {
font-size: 18px;
position: relative;
font-family: 'ubuntu_condensedregular';
margin-bottom: 0px;
color: #707C84;
}